*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 5px;
    font-family: "Mukta", sans-serif;
    background-color: azure;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    min-height: 400px;
}

.hero .sub {
    margin-right: 10px;
    display:block;
    background-color: red;
    padding: 15px;
    width: 300px;
}

.hero .sub h1 {
    text-align: start;
    color: blanchedalmond;
}

.hero .sub h3 {
    text-align: end;
    color: blanchedalmond;
}

.hero .sub p {
    text-align: end;
    color: blanchedalmond;
}

.hero .imgs {
    margin-left: 150px;
    width: 310px;
    height: 310px;
}
